body {
  font-family: 'Poppins', sans-serif;
  background: #90AB8B;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 400px;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 24px rgba(0,0,0,0.13);
  padding: 28px 24px 32px 24px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  width: 170px;
}

.header button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 4px rgba(0,0,0,0.10);
  font-size: 19px;
  color: #393e46;
  transition: box-shadow 0.14s;
}

.days {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  padding-bottom: 12px;
}

.day {
  text-align: center;
  padding: 0px 4px 8px 4px;
  color: #888;
  font-size: 17px;
  font-weight: 500;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 264px;
  gap: 2px;
}

.date {
  text-align: center;
  padding: 2px;
  font-size: 18px;
  color: #222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 2px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.date.inactive {
  color: #bbb;
}

.date.active {
  background: #e3eefd;
  color: #5081c4;
  font-weight: 600;
}


.today-bar {
  text-align: center;
  font-size: 16px;
  color: #393e46;
  margin-bottom: 8px;
  font-weight: 500;
}
